@model WebApplication7.Models.Signature

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Signature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SignatureId" />
            <div class="form-group">
                <label asp-for="PetitionId" class="control-label"></label>
                <select asp-for="PetitionId" class="form-control" asp-items="ViewBag.PetitionId"></select>
                <span asp-validation-for="PetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignatureDate" class="control-label"></label>
                <input asp-for="SignatureDate" class="form-control" />
                <span asp-validation-for="SignatureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
